@charset "utf-8";

html {
  font-size: 80%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "游ゴシック", YuGothic;
$pink: #BA867C;

*{
    color: black;
    padding: 0;
    margin: 0;
}


// ヘッダーPC

.header{
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    // max-width: 100%;

    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px 50px;
    z-index: 9999;

    #title{
        #menu_title{
            width: auto;
            margin: 0;
            @include fontsize(20);
            a{
                text-decoration: none;

                span{
                    @include fontsize(30);
                }
            }
        }
        #menu_title:hover{
            a{
                color: gray;
                span{
                    color: gray;
                }
            }
        }
    }
    

    #menu{  
            
        ul{
            text-align: right;

            li{
                vertical-align: middle;
                list-style:none;
                display:inline-block;
                padding-left: 20px;

                a{
                    text-decoration:none;
                    @include fontsize(12);
                    
                }
            }
            li:hover{
                a{
                    color: $pink;

                    i{
                        color: $pink;
                    }
                }

            }
        }  
        }   
}

// headerスマホ
@media (max-width: 767px) {
    .header{
        padding: 10px;
        display: block;

        #menu_title{
            text-align: center;
            @include fontsize(12);
            span{
                @include fontsize(22);
            }
        }

        #menu{
            ul{
                text-align: center;
                
                li{
                    padding: 10px 10px 10px 0;
                }
            }
        }
    }
}

// ヘッダー下image
#name_image{
    text-align: center;
    max-width: 90%;
    margin: 60px auto;

    img{
        max-width: 100%;
    }
}

@media (max-width: 767px){
    #name_image{
        margin: 10px auto;
    }
}

// 自己紹介部分

#About{
    text-align: center;

    .sub_title{
        margin-top: 80px;
        @include fontsize(26);
        font-weight: lighter;
        position: relative;
    }
    .sub_title::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;/*線の上下位置*/
        display: inline-block;
        width: 40px;/*線の長さ*/
        height: 2px;/*線の太さ*/
        transform: translateX(-50%);/*位置調整*/
        background-color: $pink;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }

    .content{
        max-width: 90%;
        margin: 100px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .my_image{
            img{
                border-radius: 100px;
            }
        }

        .profile{
            text-align: left;
            margin-left: 20px;
            padding: 40px;
            border: dashed 2px $pink;
            border-radius: 5px;
            line-height: 30px;

            a{
                text-decoration: none;

                #mail{
                    display: block;
                    text-align: center;
                    width: 260px;
                    margin: 20px auto 0 auto;
                    border-radius: 10px;
                    background-color: $pink;
                    color: #ffffff;
                    font-weight: normal;
                }

                #mail:hover{
                    background-color: #ffffff;
                    color: $pink;
                    box-shadow: 0 0 0 2px $pink inset;
                }
            }
        }
    }
    
}
// 自己紹介SP
@media (max-width: 767px){
    #About{
        display: inline-block;
        text-align: center;
        // padding: 40px;

        .sub_title{
            margin-top: 20px;
        }

        .content{
            display: inline-block;

            .my_image{
                margin-bottom: 60px;
            }
            .profile{
                margin: 0;
                padding: 10px;
                #mail{
                    margin: 10px 0;
                }
            }
        }
        
    }
}

// スキルPC
#Skills{
    text-align: center;
    background-color: $pink;
    margin-top: 80px;

    .sub_title{
        padding-top: 40px;
        @include fontsize(30);
        font-weight: lighter;
        color: #ffffff;
        position: relative;
    }
    .sub_title::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;/*線の上下位置*/
        display: inline-block;
        width: 40px;/*線の長さ*/
        height: 2px;/*線の太さ*/
        transform: translateX(-50%);/*位置調整*/
        background-color: #ffffff;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }

    .skill{
        padding: 40px 0 80px 0;
        display: flex;
        justify-content: space-evenly;
        height: 400px;
        

        .web, .diligence, .communication{
            background-color: #ffffff;
            margin: 10px;
            position: relative;
            width: 33%;
            border-radius: 20px;

            h2{
                @include fontsize(30);
                font-weight: lighter;
                padding-top: 40px;
                color: $pink;
            }

            i{
                line-height: 260px;
                color: $pink;
            }

            .mask{
                position: absolute;
                width:	100%;
	            height:	100%;
                top: 0;
                left: 0;
                opacity: 0;
                background-color: #ffffff;
                transition:		all 0.2s ease;
                border-radius: 20px;

                .container1, .container2, .container3, .container4, .container5{
                    display: flex;
                    justify-content: space-around;
                    padding: 10px 10px 0 10px;

                    .title_icon1, .title_icon2, .title_icon3, .title_icon4, .title_icon5{
                        text-align: center;
                        width: 40%;

                        .title{
                            @include fontsize(10);
                            color: $pink;
                            margin-top: 10px;
                            padding: 5px;
                            border: solid 1px $pink;
                            border-radius: 20px;
                        }
                        ul{
                            list-style: none;
                            white-space: nowrap;

                            li{
                                display: inline-block;

                                i{
                                    line-height: 70px;
                                    letter-spacing: 1px;
                                    width: auto;
                                    height: 100%;
                                }
                                img{
                                    padding-top: 16px;
                                }
                            }
                        }
                    }
                    .text{
                        display: flex;
                        align-items: center;
                        text-align: left;
                        width: 50%;
                        max-width: 90%;
                    }
                }

                .container4, .container5{
                    margin-top: 50px;
                    padding: 0 30px 0 0;

                    .text{
                        width: 60%;
                    }
                }
            }
            .mask:hover{
                opacity: 1;
            }
        }
    }
    
}

// skillのSP
@media (max-width: 1069px){
    #Skills{
        height: 1400px;

        .skill{
            display: inline;

            .web, .diligence, .communication{
                width: 80%;
                margin: 10px auto;

                .mask{
                    opacity: 1;
                }
                
            }

            .web{
                margin-top: 100px;
            }
            .communication{
                margin-bottom: 100px;
            }
        }
    }
}

#Works{
    padding: 60px 0 200px 0;
    text-align: center;
    
    .sub_title{
        margin-top: 80px;
        @include fontsize(26);
        font-weight: lighter;
        position: relative;
    }
    .sub_title::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;/*線の上下位置*/
        display: inline-block;
        width: 40px;/*線の長さ*/
        height: 2px;/*線の太さ*/
        transform: translateX(-50%);/*位置調整*/
        background-color: $pink;/*線の色*/
        border-radius: 2px;/*線の丸み*/
    }
    
    .works_list{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        padding-top: 50px;
        
        .works01, .works02, .works03, .works04{
            padding: 10px 20px 30px 20px;
        }
    }
}

footer{
    background-color:$pink;
    
    p{
        @include fontsize(14);
        text-align:center;
        color: #ffffff;
        font-weight: light;
    }
}

.work_text{
    text-align: center;
    margin-top: 100px;
    @include fontsize(14);

    .work_title{
        color: $pink;
        @include fontsize(22);
    }
    .description{
        border-top: dashed 1px $pink;
        border-bottom: dashed 1px $pink;
        display: inline-block;
        text-align: left;
        padding: 20px 0;
        margin: 100px 0 50px 0;
        .language, .time, .page, .github, .link, .tool{
            span{
                color: $pink;
                padding-right: 40px;
                @include fontsize(18);
            }
        }

        .page{
            span{
                padding-right: 20px;
            }
        }
        .github, .link {
            span{
                padding-right: 55px;
            }
            a{
                text-decoration: none;
                padding: 3px 5px;
                border: solid 1px $pink;
                border-radius: 10px;
                color: #ffffff;
                background-color: $pink;
            }
            a:hover{
                background-color: #ffffff;
                color: $pink;
            }
        }
        .link, .tool{
            span{
                padding-right: 65px;
            }
        }
    }
}

.images{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    justify-content: space-evenly;


    .image{
        padding: 0 10px;
        width: auto;

        p{
            color: $pink;
            @include fontsize(14);
            padding-bottom: 10px;
        }

        img{
            display: inline-block;
            vertical-align: top;
            padding-bottom: 60px;
        }
    }
    
}

@media (max-width: 767px){

    .work_text{
        @include fontsize(10);

        .work_title{
            @include fontsize(14);
        }
        .description{
            .language, .time, .page, .github{
                span{
                    padding-right: 40px;
                    @include fontsize(12);
                }
            }
            .page{
                span{
                    padding-right: 20px;
                }
            }
        }
    }
    

    .images{
        display: block;

        .image{
            text-align: center;
            margin: 60px 0;
            img{
                width: auto;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}
